@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

body {
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.bg {
	background: url('https://images.unsplash.com/photo-1588014164218-d9ecba01aaff?crop=entropy&cs=srgb&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=85') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}


.loading-text{
    font-size: 50px;
    color: #fff;
}